*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(95, 195, 253);
    height: 80px;
}

.logo {
    width: 200px;
    object-fit: cover;
}

.inputData {
    display: flex;
}

#search{
    display: flex;
    height: 30px;
    align-items: center;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    
}
#search:focus{
    outline: none;
}

.buttonSearch {
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}


.switch {
    position: relative;
}
  
.switch #checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
}
#checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#checkbox:checked + .slider {
    background-color: #dbdb0a;
}

#checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#checkbox:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.divCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: top center;
    transform-style: preserve-3d;
    width: 250px;
    height: 350px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 30px;
}

.divCart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, .3);
}
.card-content{
    transform-style: preserve-3d;
}
.divImg{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    transform: translateZ(100px);
}

.divInfo{
    transform: translateZ(50px);
}

.listPokemon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
    margin-top: 15px;
}