*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-bg: #fafafa;
    --body-color: #555;
    --list-color: #222;
    --header-color: #5fc3fd;
    --switch-color: #ccc;
    --card-bg-1: #E7E247;
    --card-bg-2: #00B4D8;
    --border-color: #000000;
}
.dark-mode:root{
    --body-bg: #212529;
    --body-color: #FCFCFC;
    --list-color: #DDF0FF;
    --header-color: #000001;
    --switch-color: #F4E04D;
    --card-bg-1: #E7E247;
    --card-bg-2: #00B4D8;
    --border-color: #FAFAFA;

}

body, .searchDiv, .listPokemon, .pokemonProfile{
    background-color: var(--body-bg);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--header-color);
    height: 80px;
}

.logo {
    width: 200px;
    object-fit: cover;
}

.inputData {
    display: flex;
}

#search{
    display: flex;
    height: 30px;
    align-items: center;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    
}
#search:focus{
    outline: none;
}

.buttonSearch {
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}


.switch {
    position: relative;
}
  
.switch #checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    width: 50px;
    height: 30px;
    background-color: var(--body-bg);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 1px;
    content: "";
    height: 26px;
    width: 26px;
    left: 1px;
    position: absolute;
    -webkit-transition: .4s;
    transition: .4s;
}
#checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
#checkbox:checked + .slider {
    background-color: var(--switch-color);
}

#checkbox:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

#checkbox:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    border: 1px solid black;
}

.card-content{
    gap: 20px;
}
.divCart{
    display: flex;
    background-image: linear-gradient(var(--card-bg-1), var(--card-bg-2));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: top center;
    transform-style: preserve-3d;
    width: 250px;
    height: 430px;
    padding: 20px;
    margin: 30px 0;
    border: 1px solid black;
    border-radius: 30px;
}

.divCart::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    border-radius: 50%;
    left: 0;
    bottom: 0px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, .3);
}
@keyframes fadeIn {
    0% { 
        width: 0%;
        opacity: 0;
        transform: rotateY(0deg) translate3d(-50%, -50%, 0); 
        transform-origin: left;
    }
    100% { 
        opacity: 1; 
        width: 100%;
        transform: rotateY(360deg) translate3d(-50%, -50%, 0); 
        transform-origin: left;
    }
}
.pokeball{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: auto;
    animation: fadeIn 3s;
}

.card-content{
    transform-style: preserve-3d;
}
.divImg{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
    transform: translateZ(100px);
}

.divInfo{
    transform: translateZ(50px);
    font-family: 'Open Sans', sans-serif;
}

.listPokemon{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
    gap: 10px 0;
}

.topButton{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 10px;
    background-color: #F4FFFD;
}

.imgUpButton{
    width: 100%;
    object-fit: contain;
}

.pokemonProfile{
    display: flex;
    justify-content: center;
    width: 100%;
}

.divProfilePokemon{
    width: 400px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(var(--card-bg-1), var(--card-bg-2));
    margin: 40px 0;
}
.divProfilePokemon:hover{
    box-shadow: 10px 5px 5px var(--border-color);
}

.imageProfilePokemon{
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.divInfoDetail{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
}
.divInfoDetail .infoText{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;

}
.divInfoDetail .titleProfile{
    margin-left: 10px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.searchDiv{
    margin: 15px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--body-color);
}

.pokemon-found{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 15px;
}
.imgSearch{
    width: 200px;
}
